<a href="https://colab.research.google.com/github/xmamadaliyeva/python_lessons/blob/main/2amaliy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv("sample_data/financial_regression.csv")
df.head()
print("Satrlar soni:", df.shape[0])
print("Ustunlar soni:", df.shape[1])

Satrlar soni: 3904
Ustunlar soni: 47

In [ ]:
df_clean = df.dropna()
df_clean.shape

(30, 47)

In [ ]:
df_clean

,date,sp500 open,sp500 high,sp500 low,sp500 close,sp500 volume,sp500 high-low,nasdaq open,nasdaq high,nasdaq low,...,palladium high,palladium low,palladium close,palladium volume,palladium high-low,gold open,gold high,gold low,gold close,gold volume
55,2010-04-01,117.80,118.2500,117.10,117.80,161083608.0,1.1500,48.34,48.7000,47.7900,...,49.3200,48.7730,48.9200,135299.0,0.5470,109.9700,110.4700,109.9200,110.260,11370417.0
121,2010-07-01,103.15,103.4900,101.13,102.76,382651225.0,2.3600,42.82,42.9600,41.7700,...,43.4210,42.2500,43.0760,508265.0,1.1710,120.9100,121.0300,116.9800,117.040,33228085.0
188,2010-10-01,114.99,115.1200,113.93,114.61,174556419.0,1.1900,49.46,49.5300,48.7810,...,57.7000,56.8300,57.1300,190301.0,0.8700,128.7200,129.0700,127.9100,128.910,17209253.0
319,2011-04-01,133.41,133.7700,132.83,133.15,153904534.0,0.9400,57.72,57.9000,57.2900,...,77.1000,75.6400,76.7600,82214.0,1.4600,138.6500,139.5500,137.7200,139.200,15738269.0
385,2011-07-01,132.09,134.1000,131.78,133.92,201950626.0,2.3200,57.10,57.9850,56.9200,...,75.2500,74.1900,75.1000,52275.0,1.0600,144.7600,145.0700,143.9700,144.930,16364459.0
716,2012-10-01,144.52,145.6900,144.01,144.35,135858200.0,1.6800,68.90,69.3300,68.2500,...,64.1600,63.1300,63.1500,73172.0,1.0300,172.8300,173.6200,171.7700,172.295,10675908.0
847,2013-04-01,156.59,156.9100,155.67,156.05,99146793.0,1.2400,69.01,69.0900,68.3100,...,76.9490,75.6540,76.7400,62551.0,1.2950,154.5700,154.9300,154.3000,154.670,4288086.0
913,2013-07-01,161.26,162.4800,161.08,161.36,131657906.0,1.4000,71.76,72.3000,71.6400,...,67.5800,66.5100,67.2300,227679.0,1.0700,119.9400,121.9500,119.3800,121.130,15943221.0
980,2013-10-01,168.14,169.5000,167.97,169.34,126997489.0,1.5300,78.87,79.7200,78.8456,...,70.3900,69.7400,70.3700,24092.0,0.6500,125.2500,125.2600,123.8100,124.590,16706123.0
1113,2014-04-01,187.62,188.3600,187.00,188.25,89193125.0,1.3600,88.10,89.2700,87.7106,...,76.1900,75.4300,76.0000,28403.0,0.7600,123.7100,123.8500,123.1099,123.390,5998286.0
1179,2014-07-01,196.20,197.6300,196.13,197.03,90470121.0,1.5000,94.21,95.1900,94.2000,...,83.2900,82.8200,83.1500,54390.0,0.4700,127.9900,128.1200,127.4900,127.700,8148345.0
1245,2014-10-01,196.70,196.7700,193.91,194.35,177797862.0,2.8600,98.54,98.6100,96.9000,...,76.1900,75.0500,75.6000,63817.0,1.1400,116.6100,117.2600,116.5900,116.770,7024201.0
1378,2015-04-01,206.43,206.4300,204.51,205.70,137303584.0,1.9200,105.60,105.6200,104.3700,...,72.7400,71.8100,72.5434,56251.0,0.9300,114.5600,115.9900,114.5400,115.600,7324008.0
1443,2015-07-01,207.73,208.0300,206.56,207.57,135979873.0,1.4700,108.13,108.3464,107.4200,...,68.0000,67.1110,67.4600,22660.0,0.8890,112.1200,112.5100,111.9400,111.980,4409026.0
1510,2015-10-01,192.08,192.4900,189.82,192.13,131078964.0,2.6700,101.94,102.2300,100.5900,...,65.9500,64.3500,65.2100,35656.0,1.6000,106.9800,107.2100,106.6300,106.730,4278592.0
1642,2016-04-01,204.35,207.1400,203.98,206.92,114423500.0,3.1600,108.58,110.4000,108.3900,...,54.4000,53.6300,54.3500,7940.0,0.7700,116.0800,116.9800,115.5500,116.930,10405379.0
1708,2016-07-01,209.48,210.4900,209.29,209.92,106055300.0,1.2000,107.49,108.4800,107.4500,...,58.3500,57.5200,58.1200,79526.0,0.8300,127.6600,128.4200,127.4400,128.410,14940706.0
2302,2018-10-01,292.11,292.9300,290.98,291.73,62078937.0,1.9500,186.87,187.5300,185.7000,...,101.2690,99.4801,100.1799,20773.0,1.7889,112.4000,112.6200,112.1500,112.570,3893012.0
2433,2019-04-01,284.70,286.1600,284.40,285.83,77617945.0,1.7600,181.51,182.2600,180.7700,...,135.2900,132.0100,135.0000,62098.0,3.2800,122.4000,122.4300,121.4600,121.530,13559963.0
2499,2019-07-01,296.68,296.9200,294.33,295.66,79107474.0,2.5900,190.32,190.5700,188.3800,...,146.7800,146.0000,146.2700,7273.0,0.7800,131.5600,131.7550,130.5500,130.620,13369815.0
2566,2019-10-01,297.74,298.4600,293.00,293.24,89425082.0,5.4600,189.50,190.5900,186.9600,...,157.6300,155.6200,156.5946,93146.0,2.0100,138.0700,140.1900,137.8000,139.630,12500459.0
2700,2020-04-01,247.98,257.6600,243.90,246.15,188373330.0,13.7600,184.77,187.6600,180.8600,...,212.5000,205.7800,205.7800,44601.0,6.7200,148.2000,150.0800,147.8500,149.450,11789096.0
2765,2020-07-01,309.57,311.8900,309.07,310.52,71910372.0,2.8200,247.64,251.5200,247.0800,...,180.9900,179.0100,180.9900,9300.0,1.9800,167.0500,167.0600,165.3400,166.620,13183934.0
2832,2020-10-01,337.69,338.7400,335.01,337.04,88698745.0,3.7300,281.79,282.8794,279.8400,...,219.6200,217.1701,218.6500,23518.0,2.4499,178.7100,179.5000,178.0375,178.700,10402833.0
2963,2021-04-01,398.40,400.6700,398.18,400.61,99682876.0,2.4900,323.07,324.7100,322.8100,...,249.9800,246.7900,249.9800,28715.0,3.1900,161.5600,162.1100,161.2800,161.980,7105228.0
3029,2021-07-01,428.87,430.6000,428.80,430.43,53441027.0,1.8000,354.07,355.0900,352.6800,...,261.1800,257.3431,258.0800,15044.0,3.8369,166.6500,166.8800,165.5000,166.200,7430497.0
3096,2021-10-01,430.98,436.0329,427.23,434.24,129240106.0,8.8029,358.60,361.2500,354.3800,...,180.1299,177.0000,179.6100,30016.0,3.1299,164.2700,164.9600,163.8850,164.590,6654686.0
3227,2022-04-01,453.31,453.4600,449.14,452.92,89048773.0,4.3200,362.81,363.6100,358.5900,...,216.5000,209.5800,211.9300,34924.0,6.9200,179.5501,180.4599,178.9800,179.500,13034395.0
3293,2022-07-01,376.56,381.7000,373.80,381.24,74839729.0,7.9000,278.95,282.5300,277.0300,...,181.8499,178.7500,181.0900,12105.0,3.0999,167.1350,168.6800,166.9600,168.320,11380332.0
3754,2024-04-01,523.83,524.3800,520.97,522.16,61182995.0,3.4100,444.97,447.5300,443.0200,...,92.5200,91.1200,92.4000,45242.0,1.4000,208.6800,208.7300,206.2900,207.820,13455629.0